<main>
    <section class="form-section">
        <img src="/assets/sgv/main-ilustration.svg" width="100px" height="100px">
>
        <h2>{{titulo()}}</h2>
         <div class="bt">
             <button class="button-one">{{primayBtnteste()}}</button>
        <div class="divider">
            <div></div>
            <span>or</span>
            <div></div>
        </div>
        <button class="button-two">{{secundayBtnteste()}}</button>
         </div>
       
    </section>
    <section class="main-section">
        <h1>Bem Vindo ao Jogo do Bicho</h1>
        <img src="/assets/sgv/logo.svg" width="200px" height="100px">
       
       
>
>
    </section>
</main>